@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}


body{

    background: linear-gradient(to right, rgb(233, 203, 246), #dff);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
     letter-spacing: 5px;
}

.pokeContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: o auto;
    max-width: 1200px;
}

.pokemon{
    
    border-radius: 10px;
    box-shadow: 10px 10px 35px rgba(100,100,100, 2);
   
    padding: 20px;
    text-align: center;
}

.borda{
   
    border-radius: 10px;
    box-shadow: 10px 10px 35px rgba(100,100,100, 2);
    transition: .5s ease;
    margin: 10px;
    padding: 7px;
  
}


.fire:hover{

    box-shadow: 0 0 1rem #FF6C53;
}

grass: "#AEFFED",
    electric: "#F2FF80",
    water: "#53D9FF",
    ground: "#DD6F00",
    rock: "#BBCAB7",
    fairy: "#FFAEFD",
    poison: "#C671AA",
    bug: "#7DFF94",
    dragon: "#97b3e6",
    psychic: "#5AEFBF",
    flying: "#CAE2FF",
    fighting: "#EEC0B0",
    normal: "#F5F5F5",




.imgContainer{
    display: flex;
    justify-content: center;    
    background-color: rgba(255,255,255, 0.6);
    border-radius: 50%;
    width: 150px;
    height: 150px;

}

.imgContainer img{
    max-width: 90%;

}




.info {
    overflow-wrap: break-word;
    margin-top: 20px;
    padding: 4px;
}

.number{
    background-color: rgba(0, 0, 0, 0.1);
    padding: 2px 13px;
    border-radius: 10px;
    font-size: 0.8rem; 
}

.name{
    margin: 15px 0 7px;
    letter-spacing: 1.5px;

}

